<%- include('../partials/head') %>

<body style="background-color: #121212;">

  <%- include('../partials/navbar', {pageUrl: pageUrl}) %>
  
  <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-10 m-10">
    <% if (registeredHomes && registeredHomes.length > 0) { %>
      <% registeredHomes.forEach((home) => { %>
        <div class="bg-[#1F1F1F] text-white shadow-md overflow-hidden flex flex-col">
          <img src="<%=home.imageUrl%>" alt="<%= home.name %>" class="w-full h-48 object-cover">
          <div class="p-4">
            <h2 class="text-xl font-semibold mb-2"><%= home.name %></h2>
            <ul class="list-none pl-0">
              <li class=" mb-1">₹ <%= home.price %> per night</li>
              <li class=" mb-1"> <span class="font-medium"> Location: <%= home.location %> </span> </li>
              <li class="mb-1"> <%= home.rating %> ⭐ </li>
            </ul>
           
            
          </div>
        </div>
      <% }); %>
    <% } else { %>
     <p class="p-4 text-gray-700">No homes registered yet.</p>
    <% } %>
  </div>

</body>
</html>